<table>
    <thead>
        <tr>
            @for(column of columns; track $index) {
                <th (click)="sort(column)">
                    <app-table-header-cell [column]="column"></app-table-header-cell>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for(stock of stocks$ | async; track $index) {
            <tr>
                <td>{{stock.symbol}}</td>
                <td>
                    <a [href]="stock.url" target="_blank">{{stock.name}}</a>
                </td>
                <td>${{stock.currentPrice| currency: '':'':'1.2-2'}}</td>
                <td [ngClass]="{red: stock.change < 0, positive: stock.change > 0}">
                    {{stock.change| currency: '':'':'1.2-2'}}
                </td>
                <td [ngClass]="{red: stock.changePercent < 0, green: stock.changePercent > 0}">
                    {{stock.changePercent | number: '1.2-2'}}%
                </td>
            </tr>
        }
    </tbody>
</table>
